*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

eclipse/
gradle/
build/
gradle/
.gradle/
.settings/
bin/

forge-1.7.2-10.12.2.1133-changelog.txt
gradle*
MinecraftForge*
build.gradle
*fml.*
MinecraftForge-Credits.txt
MinecraftForge-License.txt
.classpath
.gitignore
.project
README.txt
forge-1.7.10-10.13.1.1217-changelog.txt
